/* =======================
   RESULTS SECTION STYLES
   ======================= */
.results-section {
  background: url("images/Illustration.jpg") center/cover no-repeat;
  padding: 100px 0;
  color: #ffffff;
  position: relative;
}

.results-overlay {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
}

.results-section h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  font-weight: 600;
  padding-top: 20px;
  background-color: rgba(9, 9, 9, 0.5);
  padding-bottom:50px;
}

.overlay-p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  margin-bottom: 40px;
  line-height: 1.6;
  padding: 50px 150px;
  background-color: rgba(9, 9, 9, 0.5);
  
}

/* Grid Layout */
.results-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Desktop: 4 in one row */
  justify-items: center;
  gap: 60px;
}

.result-card {
  padding: 10px;
  width: 150px;
  height: 140px;
  background: #ff6565;
  clip-path: polygon(
    50% 0,
    100% 38%,
    82% 100%,
    18% 100%,
    0 38%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.result-card .percentage {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}

.result-card p {
  margin: 5px 0 0;
  font-size: 12px;
  color: #fff;
  
}

/* ======================
   TABLET RESPONSIVE (≤780px)
   ====================== */
@media (max-width: 780px) {
  .results-section {
    padding: 70px 0;
  }

  .overlay-p {
    padding: 10px 60px;
    font-size: 14px;
  }

  .results-cards {
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 20px;
  
    
  }

  .result-card {
      margin: 20px auto;
    width: 180px;
    height: 150px;
  }

  .result-card .percentage {
    padding: 10px;
    font-size: 30px;
  }

  .result-card p {
    font-size: 11px;
  }
}

/* ======================
   MOBILE RESPONSIVE (≤480px)
   ====================== */
@media (max-width: 480px) {
  .results-section {
    padding: 50px 0;
    background-position: center;
  }

  .results-overlay {
    max-width: 95%;
  }

  .results-section h2 {
    font-size: 30px;
  }

  .overlay-p {
    padding: 0 15px;
    font-size: 13px;
  }

  .results-cards {
    grid-template-columns: 1fr; /* 1 column */
    gap: 40px;
  }

  .result-card {
    width: 160px;
    height: 130px;
    margin: 0 auto;
  }

  .result-card .percentage {
    font-size: 20px;
  }

  .result-card p {
    font-size: 10px;
  }
}
